{% extends 'base.html.twig' %}

{% block title %}Planning index
{% endblock %}

{% block body %}
	<h1>Planning index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Lieu</th>
				<th>DateDebut</th>
				<th>DateFin</th>
				<th>PlacesDisponibles</th>
				<th>Equipe</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for planning in plannings %}
				<tr>
					<td>{{ planning.id }}</td>
					<td>{{ planning.lieu }}</td>
					<td>{{ planning.DateDebut ? planning.DateDebut|date('Y-m-d') : '' }}</td>
					<td>{{ planning.DateFin ? planning.DateFin|date('Y-m-d') : '' }}</td>
					<td>{{ planning.placesDisponibles }}</td>
					<td>
						{% for equipe in planning.equipes %}
							{# {{dump(planning.equipes)}} #}
							{{ equipe.Nom }}
							<br>
						{% endfor %}
					</td>

					<td>
						<a href="{{ path('planning_show', {'id': planning.id}) }}">show</a>
						<a href="{{ path('planning_edit', {'id': planning.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('planning_new') }}">Create new</a>
{% endblock %}
